@charset "utf-8";
/* CSS Document */
#artspace
{
	height:100px;
}
.mainbanner
{
	width: 100%;
	height:500px;
	border: thin white;
	
}

.newsarticle
{
	position:relative;
	left:25%;
	top:-2000px;
	width:800px;
	height:300px;
	overflow: hidden;
	background: white;
	box-shadow: 0px 0px 4px 1px black;
	padding-right: 20px;
	color: black;
}
.newsimg
{
	float:left;
	width:300px;
	height:300px;
	padding-right: 10px;
}


.stickyLegend
{
	height:820px;
	width:350px;
	background-color: white;
	position: relative;
	top:-1207px;
	
}
.heading
{
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

